body {
    background-color: #eeeeee !important;
}

h1, h2, h3, h4, h5, h6 {    
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #333;
}

.titulo {
    color: #176699;
}

.container {
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.contatos {    
    height: 600px;
    overflow-y: scroll;       
}

.adicionar {
    margin-bottom: 5px;
    margin-left: 85%;
}

.contato {
    padding-bottom: 5px; 
}

.informacoes-contato {
    margin-left: 93px;
    margin-top: -85px;
    color: #333;
}

.imagem-contato {
    margin: 5px;
}

.btn-editar-remover {    
    margin: -20% 0 0 90%;
}

.hr {
    width: 475px;
    margin-left: -10rem;
}

#map {
    width: 635px;
    height: 620px;
}